{% extends "../layouts/main.layout.twig" %} {% block content %} {% set subPage = true %} {% set title = "Team" %}
<div class="ui container-custom ">
    <div class="box-partner">
        <div class="ui massive breadcrumb breadcrumb-custom">
            <a class="section">Adwards</a>
            <i class="angle down icon"></i>
        </div>
        <ul class="list-partner">
            <li class="list-item"><img src="assets/images/icons/red-dot-logo.png" alt="reddot-awards" /></li>
            <li class="list-item"><img src="assets/images/icons/google-adwords-logo.png" alt="google-adwords" /></li>
            <li class="list-item"><img src="assets/images/icons/google-adwords-logo.png" alt="google-adwords" /></li>
            <li class="list-item"><img src="assets/images/icons/google-adwords-logo.png" alt="google-adwords" /></li>
            <li class="list-item"><img src="assets/images/icons/google-adwords-logo.png" alt="google-adwords" /></li>
        </ul>
    </div>
</div>
{% endblock %}