{% extends "../layouts/main-color.layout.twig" %} {% block content %} {% set subPage = true %} {% set title = "Team" %}
<div class="ui container-custom ">
    <div class="box-content box-service-showoff">
        <h1 id="loadingH1"><span></span> LOADING<span id="loading">.</span></h1>
        <div class="img-container">
            <div id="identity-results">
                <h1 id="company-name"></h1>
            </div>
        </div>
        <div id="resume">
            <h3 id="resume-created"></h3>
            <h3 id="resume-job01"></h3>
            <h3 id="resume-job02"></h3>
            <br>
            <i id="digitalMakerting-icon" class="block-icon"><img class="ui image" src="assets/images/research.png"></i>
            <h3 id="digitalMakerting" class="inline"></h3>
            <h4 id="digitalMakerting-seo" class="sub-item"></h4>
            <h4 id="digitalMakerting-sem" class="sub-item"></h4>
            <h4 id="digitalMakerting-smm" class="sub-item"></h4>
            <br>
            <i id="webDevelopment-icon" class="block-icon"><img class="ui image" src="assets/images/levels.png"></i>
            <h3 id="webDevelopment" class="inline"></h3>
            <h4 id="webDevelopment-create" class="sub-item"></h4>
            <h4 id="webDevelopment-integrate" class="sub-item"></h4>
            <br>
            <i id="mobileApplication-icon" class="block-icon"><img class="ui image" src="assets/images/research.png"></i>
            <h3 id="mobileApplication" class="inline"></h3>
            <h4 id="mobileApplication-platform" class="sub-item"></h4>
            <h4 id="mobileApplication-create" class="sub-item"></h4>
            <br>
            <i id="webScurity-icon" class="block-icon"><img class="ui image" src="assets/images/secure-folder.png"></i>
            <h3 id="webScurity" class="inline"></h3>
            <h4 id="webScurity-intrusion" class="sub-item"></h4>
            <h4 id="webScurity-disaster" class="sub-item"></h4>
            <h4 id="webScurity-pentesting" class="sub-item"></h4>
        </div>
    </div>

    <div class="partner-award">
        <div class="partner-title">
            <a class="partner-label">Awards</a>
            <i class="icon icon-down"></i>
        </div>
        <ul class="list-partner">
            <li class="list-item"><img src="assets/images/icons/reddot_white.png" alt="reddot-awards" /></li>
            <li class="list-item"><img src="assets/images/icons/google Web Designer.png" alt="google-web-designer" /></li>
            <li class="list-item"><img src="assets/images/icons/google-adwords-logo.png" alt="google-adwords" /></li>
            <li class="list-item"><img src="assets/images/icons/Business Trust 2017.png" alt="business-trust-17" /></li>
            <li class="list-item"><img src="assets/images/icons/SE17.png" alt="successful-entrepuener-17" /></li>
        </ul>
    </div>
</div>
{% endblock %}