{% extends "../layouts/main.layout.twig" %} {% block content %} {% set subPage = true %} {% set title = "Blog"%}
<div class="ui container-custom">
    <div class="box-content">
    </div>
</div>
{% endblock %}