{% extends "../layouts/main-color.layout.twig" %} {% block content %} {% set subPage = true %} {% set title = "Digital Marketing"%}
<div class="ui container-custom">
    <div class="box-content">
        <h2 class="ui inverted header box-content-title">
            Create, Promote, Optimise And Convert
        </h2>
        <h3 class="ui inverted header box-content-description">
            Ideas, copy, design and marketing strategies and social campaigns that will boost your natural search rankings in the leading
            search engines. We deliver performance-driven digital strategies with lasting impact. We use the power of digital
            to make sure your brand emerges at the top.
        </h3>
        <div class="box-content-body">
            <ol class="ui list inverted box-content-body-list">
                <li value="-">
                    <h3 class="ui inverted header"> SEARCH ENGINE OPTIMIZATION (SEO) </h3>
                </li>
                <li value="-">
                    <h3 class="ui inverted header"> SOCIAL MEDIA MANAGEMENT (SMM) </h3>
                </li>
                <li value="-">
                    <h3 class="ui inverted header"> BLOGGING AND ONLINE PR </h3>
                </li>
                <li value="-">
                    <h3 class="ui inverted header"> SEARCH ENGINE ADVERTISING </h3>
                </li>
                <li value="-">
                    <h3 class="ui inverted header"> DISPLAY ADVERTISING & RETARGETING </h3>
                </li>
                <li value="-">
                    <h3 class="ui inverted header"> SOCIAL MEDIA ADVERTISING </h3>
                </li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}