{% extends "../layouts/main.layout.twig" %} {% set subPage = false %} {% set title = "Contact Us" %} {% block head %}
<script src="assets/scripts/skycon.js" async></script> {% endblock %} {% block content %}

<div class="ui container">
    <div class="jumbotron">
        <h1 class="ui header jumbotron-title">8 GB <br>TECHNOLOGIES</h1>
        <a class="ui blue button" href="contact-us.html">Get Web Audit</a>
    </div> 
</div> 
<div class="pin-right pin-top pin-weather">
    <div class="weather-live">
        <div class="weather-status">
            <canvas class="weather-icon partly-cloudy-night"></canvas>
            <span class="weather-temp"><strong>32</strong>C</span>
        </div>
        <div class="weather-location">Singapore</div>
    </div>
</div>
<div class="pin-right pin-bottom pin-link">
    <h3 class="link-follow">
        Follow us on
        <a href="https://www.facebook.com/8gbtechnologies"><i class="large facebook icon"></i></a>
        <a href=""><i class="large google plus icon"></i></a>
    </h3>
</div>
{% endblock %}