{% extends "../layouts/main.layout.twig" %} {% block content %}
{% set subPage = true %}
{% set title = "Our Work" %}
<div class="ui container content">

    <div class="ui four cards">
        <a class="red card">
            <div class="image">

            </div>
        </a>
        <a class="orange card">
            <div class="image">

            </div>
        </a>
        <a class="yellow card">
            <div class="image">

            </div>
        </a>
    </div>
</div>
{% endblock %}