{% extends "../layouts/main.htm" %} {% block content %} {% set subPage = true %} {% set title = "Our Work" %}
<div class="ui container content">

    <div class="ui four cards">
        <a class="red card">
            <div class="image">
                <img src="assets/images/isky.png">
            </div>
        </a>
        <a class="orange card">
            <div class="image">
                <img src="assets/images/scope.png">
            </div>
        </a>
        <a class="yellow card">
            <div class="image">
                <img src="assets/images/scope.png">
            </div>
        </a>
    </div>
</div>
{% endblock %}