{% extends "../layouts/main.htm" %} {% block content %} {% set subPage = true %} {% set title = "Services" %}
<div class="ui container-custom ">
    <div class="content-service">
        <h1 class="ui inverted header">
            Your One Stop IT Solution Company
        </h1>
        <div class="ui relaxed horizontal list">
            <a href="/digital-marketing.html" class="item">
                <img class="ui image" src="assets/images/research.png">
                <h3 class="ui inverted header"> Digital Marketing</h3></a>
            </a>
            <a href="/web-development.html" class="item">
                <img class="ui image" src="assets/images/levels.png">
                <h3 class="ui inverted header"> Web Design and Development </h3>
            </a>
            <a href="/mobile-application.html" class="item">
                <img class="ui image" src="assets/images/levels.png">
                <h3 class="ui inverted header"> Mobile Application </h3>
            </a>
            <a href="/web-scurity.html" class="item">
                <img class="ui image" src="assets/images/secure-folder.png">
                <h3 class="ui inverted header"> Web Security </h3>
            </a>
        </div>
    </div>
</div>
</div>
{% endblock %}