{% extends "../layouts/main-color.layout.twig" %} {% block content %} {% set subPage = true %} {% set title = "Website Design And
Development"%}
<div class="ui container-custom">
    <div class="box-content">
        <h2 class="ui inverted header">
            Forward Thinking And Cutting-Edge Web Design!
        </h2>
        <h3 class="ui inverted header box-content-description">
            We combine creative and technical solutions to produce websites that make a real impact. Great web design isn’t just about
            making your brand look good but how your customers and clients experience your brand.
        </h3>
        <div class="box-content-body hasFeature stackable ui two column grid">
            <ol class="ui list inverted column box-content-body-list">
                <li value="-">
                    <h3 class="ui inverted header"> BRAND STRATEGY </h3>
                </li>
                <li value="-">
                    <h3 class="ui inverted header"> WEB DESIGN & DEVELOPMENT </h3>
                </li>
                <li value="-">
                    <h3 class="ui inverted header"> RESPONSIVE DESIGN </h3>
                </li>
                <li value="-">
                    <h3 class="ui inverted header"> BESPOKE DEVELOPMENT </h3>
                </li>
                <li value="-">
                    <h3 class="ui inverted header"> HOSTING, CONTENT & MAINTENANCE </h3>
                </li>
                <li value="-">
                    <h3 class="ui inverted header"> E-COMMERCE PLATFORM </h3>
                </li>
            </ol>
            <div class="ui image column box-content-feature">
                <img src="assets/images/responsive_8gb.png">
            </div>
        </div>
    </div>
</div>
{% endblock %}