{% extends "../layouts/main-color.htm" %} {% block content %} {% set subPage = true %} {% set title = "Mobile Application"%}
<div class="star-fall circle-grey"></div>
<section class="page-content">
    <div class="container">
        <div class="row mt-60 justify-content-end">
            <div class="jumbotron col-lg-7 col-sm-12">
                <h1 class="display-11 color-grey">IT SECURITY</h1>
                <h2 class="display-9">"YOUR INFORMATION. OUR PIORITY"</h1>
                    <p class="line-red"></p>
                    <p class="product-description">As technology dependencies grow at an unprecendent rate. 8GB Technologies has placed itself as a provider
                        to ensure clientele information is safeguarded as always.</p>
            </div>
        </div>
        <div class="row justify-content-lg-end justify-content-sm-center">
            <div class="card col-lg-2 col-md-3 col-sm-4 product-item">
                <img class="card-img-top mx-auto" src="assets/images/icons/icon-lock.png" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-text text-center">WEBSITE SECURITY</h2>
                </div>
            </div>
            <div class="card col-lg-2 col-md-3 col-sm-4 product-item">
                <img class="card-img-top mx-auto" src="assets/images/icons/icon-bug.png" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-text text-center">INTRUSION DETECTION & PREVENTION</h2>
                </div>
            </div>

            <div class="card col-lg-2 col-md-3 col-sm-4 product-item text-center">
                <img class="card-img-top mx-auto" src="assets/images/icons/icon-anno.png" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-text text-center">CERTIFIED ETHICAL HACKER</h2>
                </div>
            </div>
        </div>
    </div>
</section> {% endblock %}