{% set post = blogPost.post %}
<div class="row post-content justify-content-center">
    <div class="col-md-8 col-sm-12">
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_inline_follow_toolbox"></div>
        <h1 class="display-9 text-color-grey post-title">{{ post.title }}</h1>
        <p class="info">
            Posted {% if post.categories.count %} in {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %} {% endfor %} {% endif %} on {{ post.published_at|date('M
            d, Y') }}
        </p>
        <div class="content">{{ post.content_html|raw }}</div>
    </div>
</div>
