.container-custom {
  width: 100%;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.bg-video .overlay-video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
  opacity: 0.5;
}
.bg-video .media-video {
  min-width: 100%;
  min-height: 100%;
}
.jumbotron .header.jumbotron-title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
}
.contactus-image {
  background-image: url(semantic/image/rock.jpg);
  height: 100vh;
}
.pin-bottom-right {
  position: absolute;
  right: 0;
  bottom: 20px;
}
.pin-link-follow {
  float: right;
  color: #fff;
}
.pin-top-right {
  position: absolute;
  right: 0;
  top: 55px;
  width: 270px;
}
.pin-weather {
  float: right;
  color: #fff;
  width: 100%;
}
.weather-temp {
  font-size: 2.5em;
  text-align: right;
  margin-left: -28px;
}
i.huge.icon.weather-icon {
  font-size: 5em;
  line-height: 0.5;
}
.weather-location {
  font-size: 1.5em;
  text-align: center;
}
.nav-menu {
  margin-top: 15px;
}
.ui.button.hamburger-menu {
  background: transparent;
}
.ui.button.hamburger-menu:hover {
  background: transparent;
}
#nav-icon1 {
  width: 50px;
  height: 35px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon1 span:nth-child(1) {
  top: 0px;
}
#nav-icon1 span:nth-child(2) {
  top: 13px;
}
#nav-icon1 span:nth-child(3) {
  top: 26px;
}
.hamburger-menu.active #nav-icon1 span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.hamburger-menu.active #nav-icon1 span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.hamburger-menu.active #nav-icon1 span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.ui.dropdown.hamburger-menu .menu {
  border-radius: 0 !important;
}
.ui.dropdown.hamburger-menu .menu .menu {
  border-radius: 0 !important;
}
.ui.dropdown.hamburger-menu .menu > .divider {
  border-top: 1px solid #040608;
}
.ui.dropdown.hamburger-menu .menu > .header {
  padding: .1rem 0.5rem !important;
  font-size: .928571429em;
  margin: 0.5rem 0 .75rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}
.ui.dropdown.hamburger-menu .menu > .item {
  padding: .58571429rem 0.5rem !important;
  text-transform: uppercase;
  font-size: 0.8rem;
}
canvas.weather-icon {
  width: 120px;
}
.ui.four.cards > .card {
  width: calc(20.5%);
  margin-left: 0.75em;
  margin-right: 5.75em;
}
.ui.card > .image {
  width: 234px;
  height: 100px;
}
.ui.cards > .card > .image {
  width: 234px;
  height: 100px;
}
.content {
  margin-top: 40px;
}
.breadcrumb-custom {
  color: #fff !important;
  margin-right: 15px;
}
.breadcrumb-custom a {
  color: #fff !important;
  margin-right: 15px;
}
.breadcrumb-custom i.icon {
  font-size: 1.5em;
}
@media only screen and (max-width: 700px) {
  .jumbotron .header.jumbotron-title {
    margin-top: 85px;
    font-size: 3.5rem;
  }
  .pin-top-right {
    top: 16px;
  }
}
@media only screen and (max-width: 450px) {
  .jumbotron .header.jumbotron-title {
    margin-top: 95px;
    font-size: 2.3rem;
  }
  .pin-top-right {
    top: 16px;
    width: 215px;
  }
  .container-custom {
    padding-left: 0 !important;
    padding-right: 10px !important;
  }
}
