<div class="bg-video">
    <div class="overlay-video"></div>
    <video class="media-video" autoplay muted loop poster="assets/images/binary_poster.png" src="assets/videos/binary_code.mp4">
        <source src="assets/videos/binary_code.mp4" type="video/mp4">
        <source src="assets/videos/binary_code.webm" type="video/webm">
    </video>
</div>