html, body{
	margin: 0;
	font-family:  'Quicksand', -apple-system,BlinkMacSystemFont, "Segoe UI";
	height: 100%;
}
.mt-100{
	margin-top: 100px; 
}
.mt-70{
	margin-top: 70px; 
}
.mt-60{
	margin-top: 60px; 
}
.text-color-blue{
	color: #222E62 !important;
}
.text-color-grey{
	color: @color_grey !important;
}
.color-grey{
	background-color: @color_grey !important; 
}
.display-11{
	font-size: 15px;
}
.display-30{
	font-size: 30px;
}
.badge-secondary{
	color: #ffffff;
	background-color: @color_grey; 
}
@keyframes upTo {
	from {
		transform: translate(200%, 0);
	  	opacity: 0;
	}
	to {
		transform: translate(0, 0);
	  	opacity: 1;
	}
}
#page{

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    min-height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease,-webkit-transform .5s ease;
    z-index: 2;
}
footer{
	border-top: 1px solid @color_grey;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 50px;
}
.bg-video {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	height: 100%;
	.overlay-video {
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0;
		bottom: 0;
		background: #000428;
		background: -webkit-linear-gradient(to right, #004e92, #000428);
		background: linear-gradient(to right, #004e92, #000428);
		opacity: 0.5;
	}
	.media-video {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translate(-50%, -50%);
	}
}
.page-content{
	.section-title{
		font-weight: 600;
		font-size: 30px;
	}
	.line-red{
		width: 106px;
		height: 2px;
		margin: 20px 0;
		background-color: #D2BA98;
	}
	.jumbotron{
		background-color: transparent;
		.product-description{
			color: #607293;
		}
	}
	.image-computer-animation{
		animation-name: upTo;
		animation-duration: 2s;
		margin-top: 40px;
		margin-bottom: 60px; 
	}
	.product-item{
		border: none;		
		margin-bottom: 30px;
		background-color: transparent;
		.card-img-top{
			width: auto;
			max-width: 100%;
			height: 100px;
		}
		.card-body{
			margin-top: 5px;
			h2{	
				font-weight: 300;
				font-size: 20px;
				color: @color_grey; 
			}
		}
	}
	.product-image{
		// height: 143px;
		margin-bottom: 30px;
		img {
			// max-width: 215px;
			border: none;
			padding: 0;			
			background-color: transparent;
		}
	}
	
	#carouselProducts {
		margin-top: -35px;
		.carousel-inner{
			margin-top: 40px; 
		}
		.carousel-control{
			width: 53px;
			margin: 0 auto;
			text-align: center;
			.carousel-control-next, .carousel-control-prev{
				position: relative;
				opacity: 1;
				width: 25px;
			}
			.icon{
				width: 25px;
				height: 25px;
				display: block;
			}
			.line-strange{
				height: 23px;
				vertical-align: bottom;
				width: 3px;
				background-color: @color_grey;
				display: inline-block;
			}
		}
		.carousel-control-next{	
			float: right;
			.icon-next{
				background: no-repeat center url(../../../../assets/images/icons/icon-right-arrow.svg);
				background-size: 23px;
			}
		}
		.carousel-control-prev{
			float: left;
			.icon-previous{
				background: no-repeat center url(../../../../assets/images/icons/icon-left-arrow.svg);
				background-size: 23px;
			}
		}
	}
	.line-1{
		margin-top: 20px;
	}
	.line-2{
		margin-top: 150px;
		.award-row{
			margin-top: 60px;
			margin-left: 0px;
			.award-image{
				width: 100%;
				height: 90px;
				position: relative; 
				margin-bottom: 30px; 
				.img-item {
					max-height: 100px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
				}
			}
		}
	}
	.contact-form{
		background-color: #ffffff;
		padding: 30px;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
	
	.location-map{
		.box-google-map{
			width: 100%;
			height: 400px;
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		}
		.box-address-detail{
			margin-top: 30px; 
			.address-detail-line-2{
				address{
					margin-bottom: 0;
				}
			}
		}
	}
	&.page-blog{
		.post-feature-bg{
			width: 100%;
			height: 400px;
		}
		.post-categories{
			margin-bottom: 30px;
			a{
				margin-right: 5px; 
			} 
		}
		.post-list{
			.post{
				margin-bottom: 30px;
				box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
				.post-feature {
					width: auto;
					left: 50%;
					position: relative;
					transform: translateX(-50%);
				}
			}
		}
		.card-body{
			padding: 1.25rem;
		}
		.post-content{
			margin-top: 30px;
			.post-title{
				margin-top: 30px;
				border-top: 1px solid @color_grey;  
			}
			.post-feature{
				height: 250px;
			}
		}
		.addthis_inline_follow_toolbox{
			.at-follow-tbx-element{
				p{
					display: inline-block;
				}
			}
			.addthis_toolbox{
				display: inline-block;
			}
		}
	}
}
.btn-findout {
	border-radius: 20px;
	background-color: #D2BA98; 
	color: #ffffff; 
}
.btn-submit {
	border-radius: 20px;
	background-color: #D2BA98; 
	color: #ffffff; 
}
#modalContact{
	color: @color_grey;
	.modal-header{
		border-bottom: none;
		padding-bottom: 5px;
		.modal-title{
			font-size: 20px;		
		}
	}
}
.star-fall {
	z-index: -1;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	&.circle-green{
		background: url(../../../../assets/images/circle-green.png) no-repeat;
		background-position-x: 600px;
		background-position-y: 150px;
	};
	&.circle-grey{
		background: url(../../../../assets/images/circle-grey.png) no-repeat;
		background-position-x: -200px;
		background-position-y: 90px;
		background-size: 800px;
	}
	&.circle-green-arrow{
		background: url(../../../../assets/images/circle-green-arrow.png) no-repeat;
		background-position-x: -300px;
		background-position-y: 90px;
		background-size: 1000px;
	}
	&.circle-blue{
		background: url(../../../../assets/images/circle-blue.png) no-repeat;
		background-position-x: 690px;
		background-position-y: -600px;
		background-size: 1800px;
	}
}
.icon{
	display: inline-block;
}
.icon-hand-shake{
	width: 27px;
    height: 17px;
    background: no-repeat center url(../../../../assets/images/icons/icon-hand-shake-white.svg);
	background-size: 25px;
	vertical-align: bottom;
}
.icon-facebook{
	width: 27px;
    height: 22px;
    background: no-repeat center url(../../../../assets/images/icons/icon-facebook.svg);
	background-size: 17px;
	vertical-align: bottom;
}
.icon-google-plus{
	width: 27px;
    height: 22px;
    background: no-repeat center url(../../../../assets/images/icons/icon-google-plus.svg);
	background-size: 23px;
	vertical-align: bottom;
}