header {
    margin: 20px 30px 20px 30px;
}
.hamburger-menu {
    display: inline-block;
    width: 36px;
    height: 24px;
    background: transparent;
    .dropdown-toggle:after{
        display: none;
    }
	&:hover {
		background: transparent;
    }

    .hamberger-button{
        display: inline-block;
        width: 36px;
        height: 24px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: @color_white;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2) {
                top: 10px;
            }
            &:nth-child(3) {
                top: 20px;
            }
        }
    }

    &.show {
        .hamberger-button {
            span {
                &:nth-child(1) {
                    top: 10px;
                    -webkit-transform: rotate(135deg);
                    -moz-transform: rotate(135deg);
                    -o-transform: rotate(135deg);
                    transform: rotate(135deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                    left: -60px;
                }
                &:nth-child(3) {
                    top: 10px;
                    -webkit-transform: rotate(-135deg);
                    -moz-transform: rotate(-135deg);
                    -o-transform: rotate(-135deg);
                    transform: rotate(-135deg);
                }
            }
        }
    }
    .dropdown-menu{
        .dropdown-header{
            a{
                text-decoration: none;
                font-size: 16px;
            }
        }
    }
}
.page-name{
    font-size: 25px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
    color: @color_grey;
}
.page-light{
    .hamburger-menu {
        .hamberger-button{
            span{
                background-color: @color_grey;
            }
        }
    }

}