
@media only screen and (max-width: @largestMobileScreen){
	// .ui.form .ten.wide.field{
	// 	width: 70.5%!important
	// }
	.container-custom {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
	.box-partner {
		.list-partner > .list-item > img{
			width: 80px;
		}
	}
}

@media only screen and (min-width: @mobileBreakpoint){
	.ui.form .ten.wide.field{
		width: 70.5%!important
	}
}

@media only screen and (min-width: @smallMonitorBreakpoint){
	.ui.form .ten.wide.field{
		width: 65%!important
	}
}


@media only screen and ( max-width: 700px) {
	.jumbotron {
		.header.jumbotron-title {
			margin-top: 85px;
			font-size: 3.5rem;
		}
	}
	.pin-top-right {
		top: 16px;
	}
}

@media only screen and ( max-width: 450px) {
	.jumbotron {
		.header.jumbotron-title {
			margin-top: 95px;
			font-size: 2.3rem;
		}
	}
	.pin-top-right {
		top: 16px;
		width: 215px;
	}
}
 
